/*Rafael Ketelhohn*/

.bodyy{
    width: 100%;
    overflow-x: hidden;
    background-color: #161518;
}

#background{
    background-color: white;
}

.background2{
    background-color: black;
}

.background3{
    background-color: #161518;
}

.contenidotitulo h1{
    font-family: 'Righteous', cursive;
    text-align: center;
    color: black; 
    padding: 30px;
}

.contenidotitulo2{
    font-family: 'Righteous', cursive;
    text-align: center;
    color: white; 
    padding: 30px;
}

/* Inicio de Bootstrap NavBar */

.logo{
    width: 60px;
}

.container-fluid a{
    padding-left: 30px;
}

.productos1{
    font-family: 'Akshar', sans-serif;
    font-size: 25px;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.productos1:hover{
    color: white;
}

.nav1 {
    font-family: 'Akshar', sans-serif;
    font-size: 25px;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.nav1:hover{
    color: white;
}

.dropdownn{
    font-family: 'Akshar', sans-serif;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    color: black;
    display: flex;
    padding: 20px;
}

.dropdownn:hover{
    background-color: rgba(68, 68, 68, 0.116);
    color: black;
}

.nav-item{
    padding: 20px;
}


/* Final de Bootstrap NavBar */

/*Inicio de Slider Bootstrap*/

@media screen and (min-width:1024px){

    .contenedorslider{
        width: 60%;
        margin: auto;
    }
}

@media screen and (min-width:768px) and (max-width:1023px){

    .contenedorslider{
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width:320px) and (max-width:767px){

    .contenedorslider{
        width: 90%;
        margin: auto;
    }
}

/* Final de Slider Bootstrap*/



.contenidoarticulo1{
    padding: 30px;
}


.articulo1 p{
    color: black;
    font-family: 'Akshar', sans-serif;
}

.articulo2 p{
    color: white;
    font-family: 'Akshar', sans-serif;
}

#imagenes1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#imagenes1 img{
    width: 40%; 
}

/* Inicio de Media Query */

@media screen and (min-width:1024px){

    .articulo1 p{
        font-size: 20px;
        width: 60%;
        margin: auto;
    }

    .articulo2 p{
        font-size: 20px;
        width: 60%;
        margin: auto;
        padding: 15px;
    }

    .footerbox{
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

  
    
}

@media screen and (min-width:768px) and (max-width:1023px){

    .articulo1 p{
        font-size: 17px;
        width: 80%;
        margin: auto;
    }

    .articulo2 p{
        font-size: 17px;
        width: 80%;
        margin: auto;
        padding: 20px;
    }

    .footerbox h2{
        width: 50%;
        text-align: center;
        padding: 15px;
        font-size: 30px;
    }

    .footerbox p{
        width: 90%;
        text-align: center;
        padding: 20px;
        font-size: 20px;
    }
    
}

@media screen and (min-width:320px) and (max-width:767px){

    .articulo1 p{
        font-size: 15px;
        width: 90%;
        margin: auto;
    }

    .articulo2 p{
        font-size: 15px;
        width: 90%;
        margin: auto;
        padding: 20px;
    }

    .footerbox h2{
        width: 80%;
        text-align: center;
        padding: 20px;
        font-size: 30px;
    }

    .footerbox p{
        width: 90%;
        text-align: center;
        padding: 20px;
        font-size: 15px;
    }
}

@media screen and (min-width:0px) and (max-width:319px){

    .articulo1 p{
        font-size: 15px;
        width: 90%;
        margin: auto;
    }

    .articulo2 p{
        font-size: 15px;
        width: 90%;
        margin: auto;
        padding: 20px;
    }

    .footerbox h2{
        width: 80%;
        text-align: center;
        padding: 20px;
        font-size: 30px;
    }

    .footerbox p{
        width: 90%;
        text-align: center;
        padding: 20px;
        font-size: 15px;
    }
}

/* Fin de Media Query */

#navbackground{
    background-color: black;
    padding: 30px;
    
}

#navbackground2{
    background-color: #161518;
    padding: 30px;
}

.iniciobutton a{
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.iniciobutton a:hover{
    color: red;
}

.iniciobutton li{
    font-family: 'Akshar', sans-serif;
    list-style-type: none;
    font-size: 25px;
    padding: 15px;
}

.textocard{
    font-family: 'Akshar', sans-serif;
    font-size: 20px;
}

/*Inicio Card*/

.containercards{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.cards{
    width: 500px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: left; 
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    border-radius: 14px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}

.cards:hover .covercard img{
    transform: scale(1.1);
}

.cards:hover{
    transform: translateY(-10px);
}

.covercard{
    width: 100%;
    height: 400px;
    border-radius: 14px;
    overflow: hidden;
}

.covercard img{
    width: 110%;
    transition: all 300ms;
}

.cards h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
    font-family: 'Righteous';
    letter-spacing: 0,5;
    color: white;
}

.btn-danger{
    justify-content: right;
}

/*Fin Card*/

/*Inicio Cards Skate*/

.containerr{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}

.card-body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.cardd{
    width: 330px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: left; 
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.1);
    border-radius: 14px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}

.cardd img{
    margin: auto;
    width: 60%;
}

.cardd:hover{
    transform: translateY(-10px);
}

.card-title{
    font-family: 'Righteous', cursive;
    color: white;
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card-text{
    font-family: 'Righteous', cursive;
    color: white;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.description{
    color: white;
    font-family: 'Akshar', sans-serif;
    width: 90%;
    padding: 5px;
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in .3s;
}

.description:hover{
    height: 120px;
}

.Agregar{
    font-family: 'Righteous', cursive;
    width: 70%;
    margin: auto;
}

/*Fin Cards Skate*/



/*Inicio Carrito*/


.row h2{
    width: 100%;
    font-family: 'Righteous', cursive;
    padding: 20px;
    color: white;
    margin: 30px;
}

.text-right{
    width: 50%;
    text-align: center;
    justify-content: center;
    font-family: 'Righteous', cursive;
    font-size: 150%;
    margin: 30px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#boton-vaciar{
    width: 50%;
    margin: auto;
}

#Carrito{
    text-align: center;
}

.btn{
    font-family: 'Righteous', cursive;
}

/*Fin Carrito*/

/* Inicio de Footer */

.contenidofooter{
    background-color: gray;
    padding: 40px;
}


.footerbox h2{
    margin: auto;
    font-family: 'Righteous', cursive;  
}

.footerbox p{
    margin: auto;
    font-family: 'Akshar', sans-serif;
}

/* Fin de Footer */