#background{
    background-color: white;
}

#background2{
    background-color: black;
}

.contenidotitulo h1{
    font-family: 'Righteous', cursive;
    text-align: center;
    color: black; 
    padding: 30px;
}

.contenidotitulo2{
    font-family: 'Righteous', cursive;
    text-align: center;
    color: white; 
    padding: 30px;
}

/* Inicio de Bootstrap NavBar */

.logo{
    width: 60px;
}

.container-fluid a{
    padding-left: 30px;
}

.productos1{
    font-family: 'Akshar', sans-serif;
    font-size: 25px;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.productos1:hover{
    color: white;
}

.nav1 {
    font-family: 'Akshar', sans-serif;
    font-size: 25px;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.nav1:hover{
    color: white;
}

.dropdownn{
    font-family: 'Akshar', sans-serif;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    color: black;
    display: flex;
    padding: 20px;
}

.dropdownn:hover{
    background-color: rgba(68, 68, 68, 0.116);
    color: black;
}

.nav-item{
    padding: 20px;
}


/* Final de Bootstrap NavBar */

/*Inicio de Slider Bootstrap*/

@media screen and (min-width:1024px){

    .contenedorslider{
        width: 60%;
        margin: auto;
    }
}

@media screen and (min-width:0px) and (max-width:1023px){

    .contenedorslider{
        width: 90%;
        margin: auto;
    }
}

/* Final de Slider Bootstrap*/



.contenidoarticulo1{
    padding: 30px;
}


.articulo1 p{
    color: black;
    font-family: 'Akshar', sans-serif;
}

.articulo2 p{
    color: white;
    font-family: 'Akshar', sans-serif;
}

#imagenes1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#imagenes1 img{
    width: 50%;
}

/* Inicio de Media Query */

@media screen and (min-width:1024px){

    .articulo1 p{
        font-size: 20px;
        width: 60%;
        margin: auto;
    }

    .articulo2{
        font-size: 20px;
        width: 60%;
        margin: auto;
        padding: 15px;
    }

    .titulo h1{
        font-size: 45px;
    }
}

@media screen and (min-width:0px) and (max-width:1023px){

    .articulo1 p{
        font-size: 15px;
        width: 80%;
        margin: auto;
    }

    .articulo2{
        font-size: 15px;
        width: 80%;
        margin: auto;
        padding: 20px;
    }

    .titulo h1{
        font-size: 15px;
    }
}

/* Fin de Media Query */

#navbackground{
    background-color: black;
    padding: 30px;
    
}

.navv3 a{
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.navv3 a:hover{
    color: red;
}

.navv3 li{
    font-family: 'Akshar', sans-serif;
    list-style-type: none;
    font-size: 25px;
    padding: 15px;
}

/* Inicio de Footer */

.contenidofooter{
    background-color: gray;
    padding: 40px;
}

.footerbox{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: center;
}

.footerbox h2{
    margin: auto;
    font-family: 'Righteous', cursive;  
}

.footerbox p{
    margin: auto;
    font-family: 'Akshar', sans-serif;
}

/* Fin de Footer */